attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
checks==0.2
colour_demosaicing==0.2.7
ConfigParser==7.2.0
cryptography==46.0.4
Cython==3.2.4
docutils==0.22.4
filelock==3.20.3
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.151.5
imageio==2.37.2
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mtrand==0.1
mypy==1.19.1
Pillow==12.1.0
protobuf==6.33.5
psutil==7.2.2
PyInstaller==6.18.0
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
PyQt6==6.10.2
pytest==9.0.2
pytest_run_parallel==0.8.2
pywin32==311
PyYAML==6.0.3
rawpy==0.26.0
redis==7.1.0
scipy_doctest==2.1.0
setuptools==80.10.2
simplejson==3.20.2
Sphinx==9.1.0
threadpoolctl==3.6.0
tifffile==2026.1.28
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
